body {
  margin: 0;
  font-family: 'MuseoSans-Rounded', 'MuseoSans-DisplayLight', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

html {
  overflow: scroll;
}

::-webkit-scrollbar {
    width: 1px;
    background: black; /* make scrollbar transparent */
}

@media (min-width: 768px) {
  body {
    padding: 0 10%;
  }
}

@media (min-width: 1369px) {
  body {
    padding: 0 16%;
  }
}


@font-face {
  font-family: 'MuseoSans-DisplayLight';
  src: url('./assets/fonts/3_MuseoSansDisplay_Light.ttf');
}

@font-face {
  font-family: 'MuseoSans-Rounded';
  src: url('./assets/fonts/MuseoSansRounded-100.ttf');
}

@font-face {
  font-family: 'ArnittaCallina';
  src: url('./assets/fonts/ArnittaCallina.ttf');
}

@font-face {
  font-family: 'RionaldoAngelo';
  src: url('./assets/fonts/RionaldoAngelo.ttf');
}

@font-face {
  font-family: 'Feeling';
  src: url('./assets/fonts/Feeling.ttf');
}

@font-face {
  font-family: 'Heart';
  src: url('./assets/fonts/Heart.ttf');
}

@font-face {
  font-family: 'ColombiaRegular';
  src: url('./assets/fonts/ColombiaRegular.ttf');
}

@font-face {
  font-family: 'Harshita';
  src: url('./assets/fonts/Harshita.ttf');
}