body {
  margin: 0;
  font-family: 'MuseoSans-Rounded', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

@media (min-width: 769px) {
  body {
    margin: 2% 10%;
  }
}

@media (min-width: 1369px) {
  body {
    margin: 2% 16%;
  }
}


@font-face {
  font-family: 'MuseoSans-DisplayLight';
  src: url('./assets/fonts/3_MuseoSansDisplay_Light.ttf');
}

@font-face {
  font-family: 'MuseoSans-Rounded';
  src: url('./assets/fonts/MuseoSansRounded-100.ttf');
}